{% extends 'base.html.twig' %}
{% block title %}Article index{% endblock %}

{% block titre1%}<h1>La voix du Webmaster</h1>{% endblock %}
{% block lien1%}<button id="login">Log in</button>{% endblock %}
{% block lien2%}<button id="register">register</button>{% endblock %}
{% block body %}
    <hr>
    <h2>Article index</h2>

    <table class="table">
        <thead>
            <tr id="entete">
                <th>Id</th>
                <th>Titre</th>
                <th>Categorie</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td id="id">{{ article.id }}</td>
                <td id="titre">{{ article.title }}</td>
                <td>
                    {% if article.Category.name is defined %}
                        {{ article.Category.name }}
                    {% endif %}
                </td>
                <td id="content">{{ article.content }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button id="new">Create new</button>



    {{ knp_pagination_render(articles) }}
{% endblock %}
